
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.icon, .icon-me, .icon-get, .icon-give, .icon-store, .icon-with-text, .icon-credit, .icon-credit-small, .icon-credit-redeemed, .icon-name, .icon-name-small, .icon-thx {
  float: right;
  margin-left: 5px;
}
.icon-me {
  background-image: url('../images/list_me.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-me {
    background-image: url('../images/list_me@2x.png') !important;
    background-size: cover;
  }
}
.icon-get {
  background-image: url('../images/list_get.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-get {
    background-image: url('../images/list_get@2x.png') !important;
    background-size: cover;
  }
}
.icon-give {
  background-image: url('../images/list_give.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-give {
    background-image: url('../images/list_give@2x.png') !important;
    background-size: cover;
  }
}
.icon-store {
  background-image: url('../images/list_store.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-store {
    background-image: url('../images/list_store@2x.png') !important;
    background-size: cover;
  }
}
.icon-with-text, .icon-credit, .icon-credit-small, .icon-credit-redeemed, .icon-name, .icon-name-small {
  line-height: 49px;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000000;
}
.icon-credit {
  line-height: 40px;
  font-size: 18px;
  background-image: url('../images/list_credit.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-credit {
    background-image: url('../images/list_credit@2x.png') !important;
    background-size: cover;
  }
}
.icon-credit-small {
  line-height: 27px;
  font-size: 15px;
  padding-right: 1px;
  background-image: url('../images/icon_credit_small.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 28px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-credit-small {
    background-image: url('../images/icon_credit_small@2x.png') !important;
    background-size: cover;
  }
}
.icon-credit-redeemed {
  padding-right: 1px;
  background-image: url('../images/list_credit_redeemed.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-credit-redeemed {
    background-image: url('../images/list_credit_redeemed@2x.png') !important;
    background-size: cover;
  }
}
.icon-thx {
  background-image: url('../images/list_thx.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-thx {
    background-image: url('../images/list_thx@2x.png') !important;
    background-size: cover;
  }
}
.icon-thx-big {
  cursor: pointer;
  margin: 0 auto;
  background-image: url('../images/icon_thx_big.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 66px;
  width: 67px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-thx-big {
    background-image: url('../images/icon_thx_big@2x.png') !important;
    background-size: cover;
  }
}
.icon-thx-small-off {
  float: left;
  margin: 1px 5px;
  background-image: url('../images/icon_thx_small_off.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-thx-small-off {
    background-image: url('../images/icon_thx_small_off@2x.png') !important;
    background-size: cover;
  }
}
.icon-thx-small-on {
  float: left;
  margin: 1px 5px;
  background-image: url('../images/icon_thx_small_on.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-thx-small-on {
    background-image: url('../images/icon_thx_small_on@2x.png') !important;
    background-size: cover;
  }
}
.icon-name {
  background-image: url('../images/list_name.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 49px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-name {
    background-image: url('../images/list_name@2x.png') !important;
    background-size: cover;
  }
}
.icon-name-small {
  line-height: 27px;
  text-shadow: none;
  background-image: url('../images/icon_name_small.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-name-small {
    background-image: url('../images/icon_name_small@2x.png') !important;
    background-size: cover;
  }
}
.icon-store-logo {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  margin-top: 6px;
  left: -12px;
  position: relative;
}
.icon-giveaways-store-logo {
  right: 7.4%;
  width: 15%;
  height: 28.5%;
  position: absolute;
  top: 12%;
  background-position: center top;
  background-size: 100% 100%;
}
.icon-checkbox-checked, .ui-icon-check:after, html .ui-btn.ui-checkbox-on:after {
  background-image: url('../images/icon_checkbox_checked.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-checkbox-checked, .ui-icon-check:after, html .ui-btn.ui-checkbox-on:after {
    background-image: url('../images/icon_checkbox_checked@2x.png') !important;
    background-size: cover;
  }
}
.icon-checkbox-unchecked {
  background-image: url('../images/icon_checkbox_unchecked.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-checkbox-unchecked {
    background-image: url('../images/icon_checkbox_unchecked@2x.png') !important;
    background-size: cover;
  }
}
.icon-small-checkbox-checked {
  background-image: url('../images/icon_small_checkbox_checked.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-small-checkbox-checked {
    background-image: url('../images/icon_small_checkbox_checked@2x.png') !important;
    background-size: cover;
  }
}
.icon-small-checkbox-unchecked, .phone-number:after {
  background-image: url('../images/icon_small_checkbox_unchecked.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-small-checkbox-unchecked, .phone-number:after {
    background-image: url('../images/icon_small_checkbox_unchecked@2x.png') !important;
    background-size: cover;
  }
}
.icon-contacts-give, .give-button {
  background-image: url('../images/button_give.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 60px;
  width: 190px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-contacts-give, .give-button {
    background-image: url('../images/button_give@2x.png') !important;
    background-size: cover;
  }
}
.icon-contacts-give.ui-disabled, .ui-disabled.give-button {
  opacity: 1;
  background-image: url('../images/button_give_disabled.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 60px;
  width: 190px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .icon-contacts-give.ui-disabled, .ui-disabled.give-button {
    background-image: url('../images/button_give_disabled@2x.png') !important;
    background-size: cover;
  }
}
.footer-btns ul li a {
  padding: 2px !important;
}
.ui-navbar li:last-child .ui-btn {
  margin-right: 0 !important;
}
.footer-btns ul li a img {
  width: 100%;
}
.footer-btns .ui-btn-icon-left:after, .footer-btns .ui-btn-icon-right:after, .footer-btns .ui-btn-icon-top:after, .footer-btns .ui-btn-icon-bottom:after, .footer-btns .ui-btn-icon-notext:after {
  background-color: transparent;
}
.footer-btns .ui-btn {
  font-family: Georgia !important;
  text-shadow: none !important;
  border-style: none !important;
}
.footer-btns .ui-btn-active {
  color: #79bbc0 !important;
}
.footer-btns.ui-navbar {
  background-image: url("../images/footer_bg.png") !important;
  background-size: auto 100%;
}
div.feed-received-thanks {
  text-shadow: none;
  font-family: 'EFT_Office';
  color: #414d5d;
}
div.feed-received-thanks img {
  width: 100%;
}
div.feed-received-thanks .feed-icon-thx {
  background-image: url("../images/icon_thx.png");
  top: 5%;
  height: 41%;
  width: 18%;
  position: absolute;
  background-size: cover;
  right: 26%;
}
div.feed-received-thanks .feed-name {
  position: absolute;
  top: 48%;
  right: 5%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
  
  text-align: center;
  width: 16%;
}
div.feed-received-thanks .feed-thx {
  position: absolute;
  top: 48%;
  right: 29.5%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
}
div.feed-received-thanks .feed-store {
  position: absolute;
  top: 48%;
  right: 43%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
  
  text-align: center;
  width: 28%;
}
div.feed-received-thanks .feed-icon-name {
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #d93333;
  color: #FFFFFF;
  text-shadow: none;
  padding: 5%;
  border-radius: 100%;
  width: 6%;
  text-align: center;
  border: 4px solid #FFFFFF;
  height: 13%;
}
div.feed-received-thanks .feed-icon-store {
  position: absolute;
  top: 5%;
  right: 48%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-shadow: none;
  padding: 4%;
  border-radius: 100%;
  width: 8%;
  text-align: center;
  border: 4px solid #74b9be;
  height: 17%;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 45% 45%;
}
div.feed-received-thanks .feed-desc {
  position: absolute;
  top: 50%;
  right: 4%;
  width: 92%;
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
}
div.feed-sent-thanks {
  text-shadow: none;
  font-family: 'EFT_Office';
  color: #414d5d;
  position: relative;
  background-image: url("../images/money_bg_rep.png");
}
div.feed-sent-thanks img {
  width: 100%;
  opacity: 0;
}
div.feed-sent-thanks .feed-icon-thx {
  background-image: url("../images/icon_thx.png");
  top: 5%;
  height: 41%;
  width: 18%;
  position: absolute;
  background-size: cover;
  right: 4%;
}
div.feed-sent-thanks .feed-name {
  position: absolute;
  top: 48%;
  right: 26.5%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
  
  text-align: center;
  width: 16%;
}
div.feed-sent-thanks .feed-thx {
  position: absolute;
  top: 48%;
  right: 7.5%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
}
div.feed-sent-thanks .feed-store {
  position: absolute;
  top: 48%;
  right: 43%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
  
  text-align: center;
  width: 28%;
}
div.feed-sent-thanks .feed-icon-name {
  position: absolute;
  top: 5%;
  right: 26%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #d93333;
  color: #FFFFFF;
  text-shadow: none;
  padding: 5%;
  border-radius: 100%;
  width: 6%;
  text-align: center;
  border: 4px solid #FFFFFF;
  height: 13%;
}
div.feed-sent-thanks .feed-icon-store {
  position: absolute;
  top: 5%;
  right: 48%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-shadow: none;
  padding: 4%;
  border-radius: 100%;
  width: 8%;
  text-align: center;
  border: 4px solid #74b9be;
  height: 17%;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 45% 45%;
}
div.feed-sent-thanks .feed-desc {
  position: absolute;
  top: 63%;
  right: 4%;
  width: 92%;
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
}
.feed-desc-bg-sent-coupon {
  position: relative;
  background-image: url("../images/money_bg_rep.png");
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
  font-family: 'EFT_Office';
  color: #414d5d;
  padding-right: 5%;
  padding-left: 5%;
  
  margin-top: -13%;
  padding-bottom: 5%;
}
.feed-desc-bg-received-coupon {
  position: relative;
  background-image: url("../images/money_bg_rep.png");
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
  font-family: 'EFT_Office';
  color: #414d5d;
  padding-right: 5%;
  padding-left: 5%;
  
  margin-top: -29%;
  padding-bottom: 5%;
}
.feed-desc-bg-received-coupon .feed-thanks-btn {
  width: 100%;
  text-align: left;
}
.feed-desc-bg-received-coupon .feed-thanks-btn img {
  width: 33%;
}
.feed-desc-bg-sent-thanks {
  position: relative;
  background-image: url("../images/money_bg_rep.png");
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
  font-family: 'EFT_Office';
  color: #414d5d;
  padding-right: 5%;
  
  margin-top: -20%;
  padding-left: 5%;
  padding-bottom: 5%;
}
div.feed-sent-coupon {
  text-shadow: none;
  font-family: 'EFT_Office';
  color: #414d5d;
  position: relative;
  background-image: url("../images/money_bg_rep.png");
}
div.feed-sent-coupon img.bg {
  width: 100%;
  opacity: 0;
}
div.feed-sent-coupon .feed-received-amount {
  position: absolute;
  top: 6%;
  right: 4%;
  width: 16%;
  height: 25%;
  padding-top: 5%;
  text-align: center;
  font-size: 16px;
  font-size: 5.5vw;
  background-color: #414d5d;
  border-radius: 100%;
  border: 4px solid #FFFFFF;
  color: #FFFFFF;
}
div.feed-sent-coupon .feed-icon-store {
  position: absolute;
  top: 7%;
  right: 26%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-shadow: none;
  padding: 4%;
  border-radius: 100%;
  width: 8%;
  text-align: center;
  border: 4px solid #74b9be;
  height: 17%;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 45% 45%;
}
div.feed-sent-coupon .feed-desc {
  position: absolute;
  top: 52%;
  right: 5%;
  width: 95%;
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
}
div.feed-sent-coupon .feed-thanks-btn {
  position: absolute;
  top: 58%;
  width: 32%;
  left: 3%;
}
div.feed-sent-coupon .feed-thanks-btn img {
  width: 100%;
}
div.feed-sent-coupon .feed-calendar {
  position: absolute;
  background-image: url("../images/icon_calendar.png");
  width: 14%;
  top: 7%;
  left: 5%;
  height: 23%;
  background-size: cover;
  text-align: center;
  padding-top: 6%;
  font-size: 13px;
  font-size: 3.7vw;
}
div.feed-sent-coupon .feed-icon-name {
  position: absolute;
  top: 5%;
  right: 48%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #d93333;
  color: #FFFFFF;
  text-shadow: none;
  padding-top: 6%;
  border-radius: 100%;
  width: 17%;
  text-align: center;
  border: 4px solid #FFFFFF;
  height: 24.5%;
}
div.feed-received-coupon {
  text-shadow: none;
  font-family: 'EFT_Office';
  color: #414d5d;
  position: relative;
  background-image: url("../images/money_bg_rep.png");
}
div.feed-received-coupon img.bg {
  width: 100%;
  opacity: 0;
}
div.feed-received-coupon .feed-received-amount {
  position: absolute;
  top: 6%;
  right: 4%;
  background-image: url("../images/icon_feed_received.png");
  background-size: cover;
  width: 18%;
  height: 18.5%;
  padding-top: 8%;
  text-align: center;
  font-size: 10px;
  font-size: 3.5vw;
}
div.feed-received-coupon .feed-icon-store {
  position: absolute;
  top: 7%;
  right: 26%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-shadow: none;
  padding: 4%;
  border-radius: 100%;
  width: 8%;
  text-align: center;
  border: 4px solid #74b9be;
  height: 14%;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  background-position: 45% 45%;
}
div.feed-received-coupon .feed-desc {
  position: absolute;
  top: 47%;
  right: 5%;
  width: 90%;
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
}
div.feed-received-coupon .feed-calendar {
  position: absolute;
  background-image: url("../images/icon_calendar.png");
  width: 14%;
  top: 7%;
  left: 5%;
  height: 18%;
  background-size: cover;
  text-align: center;
  padding-top: 6%;
  font-size: 13px;
  font-size: 3.7vw;
}
.feed-thx, .feed-name, .feed-store {
  display: none;
}
div.feed-redeemed-coupon {
  text-shadow: none;
  font-family: 'EFT_Office';
  color: #414d5d;
}
div.feed-redeemed-coupon img {
  width: 100%;
}
div.feed-redeemed-coupon .feed-icon-thx {
  background-image: url("../images/icon_thx.png");
  top: 5%;
  height: 41%;
  width: 18%;
  position: absolute;
  background-size: cover;
  right: 23%;
}
div.feed-redeemed-coupon .feed-name {
  position: absolute;
  top: 48%;
  right: 4%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
  
  text-align: center;
  width: 16%;
}
div.feed-redeemed-coupon .feed-thx {
  position: absolute;
  top: 48%;
  right: 29%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
}
div.feed-redeemed-coupon .feed-store {
  position: absolute;
  top: 48%;
  right: 43%;
  font-size: 16px;
  font-size: 4.5vw;
  font-family: EFT_Office;
  text-shadow: none;
  
  text-align: center;
  width: 28%;
}
div.feed-redeemed-coupon .feed-icon-name {
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #d93333;
  color: #FFFFFF;
  text-shadow: none;
  padding: 5%;
  border-radius: 100%;
  width: 6%;
  text-align: center;
  border: 4px solid #FFFFFF;
  height: 13%;
}
div.feed-redeemed-coupon .feed-icon-store {
  position: absolute;
  top: 5%;
  right: 48%;
  font-size: 20px;
  font-size: 6vw;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-shadow: none;
  padding: 4%;
  border-radius: 100%;
  width: 8%;
  text-align: center;
  border: 4px solid #74b9be;
  height: 17%;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 45% 45%;
}
div.feed-redeemed-coupon .feed-desc {
  position: absolute;
  top: 49%;
  right: 4%;
  width: 90%;
  white-space: normal;
  font-size: 20px;
  font-size: 6vw;
}
div.feed-redeemed-coupon .feed-icon-redeemed {
  position: absolute;
  top: 5%;
  right: 26%;
  background-image: url("../images/feed_icon_redeemed.png");
  background-size: cover;
  width: 18%;
  height: 21%;
  padding-top: 8%;
  text-align: center;
  font-size: 12px;
  font-size: 3.5vw;
}
.feed-quote {
  width: 93%;
  white-space: normal;
  font-family: 'EFT_Office';
  font-size: 20px;
  font-size: 6vw;
  color: #414d5d;
  padding: 10px;
  border-bottom: 1px solid #c9c9c9;
  margin: auto;
}
@font-face {
  font-family: 'EFT_Office';
  src: url("EFT_Office.ttf") format("truetype");
  
}
html, body {
  padding: 0;
  margin: 0;
  height: 99.9%;
  min-height: 99.9%;
  overflow: hidden;
}
.unfixed {
  position: relative;
  left: auto;
  bottom: auto;
}
.ui-li-static {
  direction: rtl !important;
  text-align: right !important;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
  float: right !important;
}
.ui-input-search:after {
  right: .9125em;
  left: auto;
}
.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
  left: 0;
  right: auto;
}
.ui-input-search input {
  text-align: right;
  direction: rtl;
}
.ui-btn-icon-left:after {
  right: .5625em;
  left: auto;
}
.ui-checkbox input, .ui-radio input {
  right: .466em;
  left: auto;
}
.ui-checkbox .ui-btn, .ui-radio .ui-btn {
  text-align: right;
}
.ui-btn-icon-left {
  padding-right: 2.5em;
  padding-left: auto;
}
.ui-btn,
.ui-title {
  direction: rtl;
}
.ui-field-contain > label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain > .ui-rangeslider > label {
  float: right;
}
.ui-input-text input, .ui-input-search input {
  direction: rtl;
  text-align: right;
}
body {
  -webkit-touch-callout: none;
  
  -webkit-text-size-adjust: none;
  
  -webkit-user-select: none;
                                            
  background-image: url("../images/screen_home.jpg");
  background-size: cover;
  font-family: Arial;
  
  margin: 0px;
  
  width: 100%;
  overflow: hidden;
}
.app {
  background: url(../img/logo.jpg) no-repeat center top;
  
  position: absolute;
  
  left: 50%;
  top: 50%;
  height: 50px;
  
  width: 225px;
  
  text-align: center;
  padding: 180px 0px 0px 0px;
  
  margin: -115px 0px 0px -112px;
  
  
}
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    
    margin: -90px 0px 0px -198px;
    
    
  }
}
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}
.event.listening {
  background-color: #333333;
  display: block;
}
.event.received {
  background-color: #4B946A;
  display: none;
}
@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
.ui-header {
  border-bottom-style: none !important;
}
.ui-content {
  padding-top: 0 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  text-align: right;
  direction: rtl;
}
.ui-listview {
  margin: 0 !important;
}
.ui-listview h1 {
  white-space: normal !important;
  margin-bottom: 25px !important;
  line-height: 20px !important;
}
.ui-listview .selected {
  background-image: url('../images/list_selected_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  background-size: 100% 100% !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .ui-listview .selected {
    background-image: url('../images/list_selected_bg@2x.png') !important;
    background-size: cover;
  }
}
#activities {
  background-image: url('../images/login_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  background-position: center top;
  padding-top: 30px !important;
}
#activities .ui-listview .selected {
  background-size: 100% 72px !important;
  background-position: top;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #activities {
    background-image: url('../images/login_bg@2x.png') !important;
    background-size: cover;
  }
}
#activities .ui-content {
  padding-top: 40px !important;
}
#activities .iscroll-pulldown {
  display: none;
}
.example-wrapper, .example-wrapper div.iscroll-scroller {
  width: 100% !important;
}
.ui-listview > li h3 {
  white-space: normal !important;
  color: #6f7475;
}
.ui-footer {
  border-style: none !important;
}
.ui-header .ui-title {
  font-family: Georgia !important;
  text-shadow: none !important;
}
.ui-checkbox {
  margin: 0;
}
.ui-page-theme-a .ui-li-static[data-icon='wommee-arrow-r']::after {
  content: '';
  background-color: transparent !important;
  background-image: url('../images/icon_arrow_right.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 8px;
  width: 10px;
  top: 17px !important;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .ui-page-theme-a .ui-li-static[data-icon='wommee-arrow-r']::after {
    background-image: url('../images/icon_arrow_right@2x.png') !important;
    background-size: cover;
  }
}
.list-date, .activity-date, .giveaway-date {
  position: absolute;
  left: 10px;
  font-weight: normal;
  font-size: 14px;
}
.activity-date {
  top: 40px;
  letter-spacing: 0px;
}
.giveaway-date {
  bottom: 15px;
}
.quote-top {
  float: left;
  clear: both;
  width: 100%;
  height: 9px;
  background-image: url("../images/quotation_top@2x.png");
  background-size: 1px 9px;
  margin-left: -16px;
  padding-right: 56px;
}
.quote-bottom {
  float: left;
  position: relative;
  top: 4px;
  clear: both;
  width: 100%;
  height: 6.5px;
  background-image: url("../images/quotation_bottom@2x.png");
  background-size: 1px 6.5px;
  margin-left: -16px;
  padding-right: 56px;
  opacity: 0.2;
}
.quote-bubble {
  float: left;
  clear: both;
  position: relative;
  top: 4px;
  background-repeat: no-repeat;
  background-image: url("../images/quotation_bubble@2x.png");
  width: 100%;
  height: 11px;
  background-size: 15px 11px;
  background-position: right 50px center;
}
.quote-wrapper {
  margin-top: 5px;
}
.quote-wrapper .quote {
  padding: 10px;
  clear: both;
  color: white;
  white-space: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  background-position: 50% -5px !important;
  min-height: 70px;
  height: auto;
  background-color: #484848;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -11px;
  background-image: url('../images/quotation_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .quote-wrapper .quote {
    background-image: url('../images/quotation_bg@2x.png') !important;
    background-size: cover;
  }
}
.quote-text:before {
  position: relative;
  top: 1px;
  display: inline-block;
  content: "";
  background-image: url('../images/quotation_start.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 23px;
  width: 27px;
  margin-right: 5px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .quote-text:before {
    background-image: url('../images/quotation_start@2x.png') !important;
    background-size: cover;
  }
}
.quote-text:after {
  position: relative;
  top: 8px;
  display: inline-block;
  content: "";
  background-image: url('../images/quotation_end.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 13px;
  width: 15px;
  margin-left: 5px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  .quote-text:after {
    background-image: url('../images/quotation_end@2x.png') !important;
    background-size: cover;
  }
}
.quote-by {
  float: left;
  font-size: 14px;
  margin-top: 7px;
  margin-right: 7px;
}
.clearfix:after, .conditions-list:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix, html[xmlns] .conditions-list {
  display: block;
}
* html .clearfix, * html .conditions-list {
  height: 1%;
}
.ui-page-theme-a a.ui-btn {
  border-color: #000000 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  border-bottom-width: 1px !important;
}
.ui-page-theme-a a.ui-btn.no-border {
  border-bottom-width: 0 !important;
}
#activity {
  height: 100% !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
#activity .content {
  position: relative;
  width: inherit;
  height: inherit;
  min-height: inherit;
  overflow: hidden !important;
  padding-bottom: 0 !important;
}
#activity .close-btn {
  float: left;
  cursor: pointer;
  padding: 12px;
  position: relative;
  margin-top: -6px;
  margin-left: -4px;
  z-index: 2;
  background-image: url('../images/icon_close.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 8px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #activity .close-btn {
    background-image: url('../images/icon_close@2x.png') !important;
    background-size: cover;
  }
}
#activity .activity-content {
  padding-top: 15px;
}
#activity .activity-info {
  position: relative;
  line-height: 26px;
  margin-left: 5px;
  padding-bottom: 30px;
}
#activity .activity-info .icon-thx {
  margin-bottom: 15px;
}
#activity .activity-info-date {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}
#activity .activity-wrapper {
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 5px;
  margin-right: 15px;
  display: block;
  vertical-align: middle;
  min-height: inherit;
  background-position: 40px 0 !important;
  background-repeat: repeat !important;
  background-color: #484848 !important;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-image: url('../images/activity_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #activity .activity-wrapper {
    background-image: url('../images/activity_bg@2x.png') !important;
    background-size: cover;
  }
}
#activity .activity-wrapper .activity-panel {
  display: block;
  background: #FFFFFF;
  width: 95%;
  max-height: 90%;
  overflow: hidden;
  position: relative;
}
#activity .activity-wrapper .activity-panel h1 {
  float: right;
  clear: both;
  margin-left: 6px;
  margin-top: 15px;
}
#activity .activity-wrapper .activity-panel .activity-coupon {
  margin-left: 6px;
  margin-top: 15px;
  margin-bottom: 5px;
  clear: both;
  float: right;
}
#activity .activity-wrapper .activity-panel .activity-name {
  line-height: 26px;
  min-width: 100px;
  float: right;
}
#selected-list {
  margin-bottom: 0 !important;
}
#terms {
  height: 100%;
  direction: ltr;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#terms h1 {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  direction: ltr;
  padding: 15px;
}
#terms p {
  padding: 15px;
  text-align: left;
  direction: ltr;
}
#terms ul li {
  text-align: left;
  direction: ltr;
  list-style: circle;
  padding: 5px;
  margin-left: 23px;
}
#giveaways, #goodies, #terms {
  background-image: url('../images/login_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  background-position: center top;
  padding-top: 80px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #giveaways, #goodies, #terms {
    background-image: url('../images/login_bg@2x.png') !important;
    background-size: cover;
  }
}
#giveawayFeedback .giveaway-feedback-wrapper {
  position: absolute;
  left: 5px;
  right: 5px;
  display: table-cell;
  vertical-align: middle;
  height: auto !important;
  min-height: 100%;
  background-color: #FFFFFF !important;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
#giveawayFeedback .giveaway-feedback-wrapper .giveaway-feedback-container {
  color: #000000;
  text-shadow: none !important;
  position: relative;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 10px;
}
#giveawayFeedback .giveaway-feedback-wrapper .giveaway-feedback-container .top-pane {
  padding: 10px;
  background-color: #71cdca;
  min-height: 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#giveawayFeedback .giveaway-feedback-wrapper .giveaway-feedback-container .bottom-pane {
  padding: 10px;
  color: white;
  position: relative;
  background-color: #484848;
  min-height: 70px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 16px;
  line-height: 25px;
  background-position: 50% -5px !important;
  height: auto;
  background-color: #484848;
  background-image: url('../images/quotation_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #giveawayFeedback .giveaway-feedback-wrapper .giveaway-feedback-container .bottom-pane {
    background-image: url('../images/quotation_bg@2x.png') !important;
    background-size: cover;
  }
}
#giveawayFeedback .giveaway-feedback-wrapper .giveaway-feedback-container:after {
  position: absolute;
  bottom: -17px;
  right: 61px;
  display: block;
  content: "";
  background-image: url('../images/giveaway_bubble.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 23px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #giveawayFeedback .giveaway-feedback-wrapper .giveaway-feedback-container:after {
    background-image: url('../images/giveaway_bubble@2x.png') !important;
    background-size: cover;
  }
}
#login {
  background-image: url('../images/login_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  background-position: center top;
  padding-top: 80px !important;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #login {
    background-image: url('../images/login_bg@2x.png') !important;
    background-size: cover;
  }
}
#login .ui-content {
  padding-top: 40px !important;
}
#login input[type="text"], #login input[type="tel"], #login input[type="number"] {
  width: 100%;
  border: 1px solid #cacaca;
}
#login .ui-field-contain {
  border: 0;
}
#login .ui-field-contain, #login .ui-input-text {
  width: 157px;
  margin: 0 auto;
}
#login .ui-field-contain label, #login .ui-input-text label {
  float: none;
  width: 100%;
  border: 0px none !important;
  box-shadow: none !important;
  font-weight: normal;
}
#login label {
  border: 0px none !important;
}
#login .ui-checkbox {
  float: right;
}
#login .ui-checkbox label {
  padding-left: 0px;
  margin-left: 3px;
  font-size: inherit;
  width: auto;
  text-overflow: clip;
}
#login span.termspan {
  float: right;
  padding-top: 13px;
}
#login .login_checkbox {
  width: 100%;
  text-align: center;
  border: 0;
  font-size: 15px;
}
#login .login-description {
  font-family: 'EFT_Office';
  margin: auto;
  padding: 8%;
}
#login .login_checkbox label:after {
  margin-right: 1px;
}
#login .login_checkbox input {
  height: auto;
}
#login .ui-input-text {
  display: table;
}
#login .ui-field-contain, #login .ui-mobile fieldset.ui-field-contain {
  padding: 0 !important;
  margin-bottom: 10px;
}
#login .ui-corner-all {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
#login label {
  display: block;
  text-shadow: none;
  font-size: 14px;
  color: #000000;
  font-family: Arial;
  margin-left: 10px;
}
#login .ui-input-btn {
  background-image: url('../images/login_btn_bg.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  width: 100px;
  height: 27px;
  margin: 0 auto;
  padding: 0;
  border-width: 0;
  background-color: transparent;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  text-shadow: none;
  color: #FFFFFF;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  #login .ui-input-btn {
    background-image: url('../images/login_btn_bg@2x.png') !important;
    background-size: cover;
  }
}
#login .send-button, #login #loginReset {
  width: 130px;
  margin: auto;
}
#login .loginForm div[data-role="fieldcontain"]:nth-child(3) {
  margin-bottom: 20px;
}
#login .codeForm div[data-role="fieldcontain"]:nth-child(1) {
  margin-bottom: 20px;
}
#contacts {
  overflow: hidden;
}
#contacts .ui-listview > .ui-li-static {
  padding: 0;
}
#contacts .content {
  height: inherit;
  overflow: hidden;
}
#contacts .content .list-container {
  height: inherit;
  overflow: auto;
}
#contacts .content button#contact-add {
  background-color: #d33434;
  color: #FFFFFF;
  text-shadow: none;
  font-weight: normal;
  border: 0;
  border-radius: 0;
  webkit-border-radius: 0;
  width: 75%;
  margin: auto;
  font-size: 5vw;
  font-family: 'EFT_Office' !important;
  text-overflow: clip;
}
#contacts .content #selected-list {
  margin-top: 50px !important;
  list-style-type: none;
}
#contacts .content #selected-list a {
  margin: 0;
}
#contacts .content #selected-list li:first-child {
  margin-top: 10px;
}
#contacts .content #selected-list li:last-child {
  margin-bottom: 15px;
  border-bottom: 1px solid #828282;
}
#contacts .content #contacts-list {
  padding-bottom: 10px !important;
}
#contacts #contacts-list .ui-btn-icon-notext:after, #contacts #contacts-list .ui-btn-icon-left:after, #contacts #contacts-list .ui-btn-icon-right:after, #contacts #contacts-list .ui-checkbox input {
  top: 27px !important;
}
#contacts .ui-checkbox input {
  visibility: hidden;
}
#contacts #selected-list .ui-controlgroup, #contacts #selected-list fieldset.ui-controlgroup, #contacts #selected-list .ui-collapsible-heading-toggle {
  color: #2d7e7f !important;
}
#contacts #selected-list .ui-controlgroup, #contacts #selected-list fieldset.ui-controlgroup {
  margin: 0 0 !important;
}
#contacts li {
  background-color: #FFFFFF;
  border-radius: 0;
  webkit-border-radius: 0;
  border-top: 1px solid #828282;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
}
#contacts li a, #contacts li label {
  background-color: inherit !important;
}
#contacts li.expanded {
  background-color: #eaeaea;
}
#contacts li.expanded .ui-checkbox-off:after, #contacts li.expanded .ui-btn.ui-radio-off:after {
  display: none !important;
}
#contacts .custom-collapsible {
  margin: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-width: 0 !important;
}
#contacts .custom-collapsible .ui-btn-icon-left:after, #contacts .custom-collapsible .ui-btn-icon-right:after, #contacts .custom-collapsible .ui-btn-icon-top:after, #contacts .custom-collapsible .ui-btn-icon-bottom:after, #contacts .custom-collapsible .ui-btn-icon-notext:after {
  display: none !important;
}
#contacts .custom-collapsible a {
  border-bottom-width: 0 !important;
  padding: 0 !important;
}
#contacts .custom-collapsible .ui-collapsible-content {
  background: transparent !important;
  border-style: none !important;
  border-width: 0 !important;
  padding: 0 !important;
}
#contacts .custom-collapsible .ui-collapsible-content ul {
  margin-bottom: 0 !important;
}
#contacts .custom-collapsible .ui-collapsible-content ul li {
  border-style: none !important;
  border-width: 0 !important;
  background: transparent !important;
  padding: 0.1em 0;
}
html .ui-bar-a .ui-btn.ui-btn-left,
html .ui-bar-a .ui-btn.ui-btn-right {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 3px !important;
  border-style: none !important;
  line-height: 30px !important;
  background-image: url('../images/button_top.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  height: 23px;
  width: 68px;
  font-weight: normal;
  font-size: 12px;
  background-size: 68px 33px !important;
  height: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  
  html .ui-bar-a .ui-btn.ui-btn-left,
  html .ui-bar-a .ui-btn.ui-btn-right {
    background-image: url('../images/button_top@2x.png') !important;
    background-size: cover;
  }
}
.phone-number {
  padding-left: 20px !important;
}
.phone-number:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  margin: -16px 2px 0 2px;
}
.give-button {
  margin: 13px auto;
}
.footer-btns li {
  position: relative;
}
.badge {
  display: none;
  background: #BA070F;
  color: #fff;
  padding: 1px 7px;
  position: absolute;
  right: 50%;
  top: 5px;
  margin-left: 10px;
  z-index: 999;
  border-radius: .8em;
  border: 2px solid #fff;
}
a:hover {
  color: #333333 !important;
}
.ui-mobile .ui-page {
  min-height: 350px;
}
.conditions-list {
  float: right;
  clear: both;
  margin-bottom: 10px;
}
.conditions-list li {
  font-size: 14px;
  list-style-type: none;
  list-style-position: inside;
}
.conditions-list li:before {
  content: "*  ";
  line-height: 19px;
  vertical-align: bottom;
  margin: 0;
}
@media screen and (orientation: portrait) and (device-aspect-ratio: 2 / 3) {
  
  .ui-mobile .ui-page {
    min-height: 350px !important;
  }
}
@media screen and (orientation: portrait) and (device-aspect-ratio: 40 / 71) {
  
  .ui-mobile .ui-page {
    min-height: 420px !important;
  }
}
div.header_image {
  text-align: center;
}
div.header_image img {
  width: 100%;
  max-height: 100px;
}
div.ui-header {
  background-color: transparent;
  z-index: 1;
}
.ui-header-fixed {
  padding-top: 0 !important;
}
.giveaway-container, .mymoney-container {
  position: relative;
}
.giveaway-container {
  background-image: url("../images/money_bg_rep.png");
}
.giveaway-container .give-money-bg {
  position: absolute;
  top: 2%;
  width: 93%;
  height: 48%;
  
  right: 3%;
  
}
.giveaway-container, .mymoney-container, .giveaway-container img, .mymoney-container img {
  width: 100%;
  font-family: 'EFT_Office';
}
.mymoney-container img {
  opacity: 0;
}
.mymoney-container {
  background-image: url("../images/money_bg_rep.png");
}
#giveaways .ui-listview > .ui-li-static, #goodies .ui-listview > .ui-li-static, #activities .ui-listview > .ui-li-static {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 20px;
}
#giveaways .ui-shadow, #goodies .ui-shadow, #activities .ui-shadow {
  -webkit-box-shadow: none;
}
#giveaways .ui-body-inherit, #goodies .ui-body-inherit, #activities .ui-body-inherit {
  background-color: Transparent;
}
.giveaway-tokef {
  position: absolute;
  top: 16%;
  left: 9%;
  font-size: 24px;
  font-size: 6.3vw;
  color: #3f4c57;
  text-align: center;
}
.giveaway-description {
  position: relative;
  white-space: normal;
  color: #3e4c57;
  text-shadow: none;
  font-size: 23px;
  line-height: 25px;
  font-size: 6vw;
  line-height: 7vw;
  background-image: url("../images/money_bg_rep.png");
  font-family: 'EFT_Office';
  padding-right: 5%;
  padding-left: 4%;
  margin-top: -22%;
}
.giveaway-description a.give-btn {
  text-align: left;
}
.giveaway-description a.give-btn img {
  width: 34%;
  float: left;
  margin-bottom: 2%;
}
.giveaway-value {
  position: absolute;
  top: 20%;
  font-size: 28px;
  font-size: 7.0vw;
  color: #FFFFFF;
  right: 39.5%;
  font-family: 'EFT_Office';
  text-shadow: none;
}
.giveaway-value span {
  font-size: 12px;
  font-size: 2.8vw;
}
div.mymoney-price-container {
  position: absolute;
  background-image: url(../images/money_item_bg.png);
  width: 93%;
  height: 35%;
  right: 4%;
  top: 6%;
  background-size: cover;
}
.mymoney-tokef {
  top: 14.5%;
  left: 9%;
  font-size: 23px;
  font-size: 6.3vw;
  color: #3f4c57;
  text-align: center;
  text-shadow: none;
  position: absolute;
}
.mymoney-store-name {
  font-size: 22px;
  font-size: 6vw;
  margin-bottom: 3%;
}
.icon-mymoney-store-logo {
  position: absolute;
  right: 5%;
  top: 17%;
  height: 62%;
  width: 16%;
  background-position: center top;
  background-size: 100% 100%;
}
.mymoney-description {
  bottom: 5%;
  right: 5%;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  white-space: normal;
  width: 31%;
  color: #3e4c57;
  text-shadow: none;
  font-size: 16px;
  font-size: 4.8vw;
  line-height: 5.8vw;
  min-height: 45%;
  padding-left: 3%;
}
.mymoney-description-new {
  white-space: normal;
  color: #3e4c57;
  text-shadow: none;
  font-size: 16px;
  font-size: 4.8vw;
  line-height: 5.8vw;
  font-family: 'EFT_Office';
  margin-top: -34%;
  z-index: 99999 !important;
  background-image: url("../images/money_bg_rep.png");
  padding-bottom: 4%;
}
.mymoney-description-inner {
  position: relative;
  width: 30%;
  border-left: 2px solid #56777c;
  padding-left: 5%;
  padding-right: 2%;
  
  min-height: 90px;
  min-height: 28vw;
}
.mymoney-value {
  position: absolute;
  top: 18%;
  font-size: 25px;
  font-size: 7.0vw;
  color: #FFFFFF;
  right: 41.5%;
  font-family: 'EFT_Office';
  text-shadow: none;
}
.mymoney-value span {
  font-size: 12px;
  font-size: 2.8vw;
}
.mymoney-conditions {
  color: #FFFFFF;
  width: 100%;
  background-color: #6aaeae;
  margin-top: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.mymoney-conditions ul li {
  list-style: none;
  font-size: 18px;
  font-size: 6vw;
  text-shadow: none;
  margin-right: 4%;
  font-weight: normal;
  white-space: normal;
  font-family: 'EFT_Office';
  padding-bottom: 5px;
}
.mymoney-text {
  position: absolute;
  top: 50%;
  text-shadow: none;
  width: 43%;
  font-size: 15px;
  font-size: 4.8vw;
  color: #414d5d;
  right: 57%;
  white-space: normal;
}
img.button-thanks {
  position: absolute;
  left: 4%;
  top: -50px;
  opacity: 1;
  width: 25%;
}
div.mymoney-name-small {
  position: absolute;
  top: 52%;
  left: 45%;
  background-color: #d93333;
  color: #FFFFFF;
  text-shadow: none;
  font-family: Arial;
  font-size: 20px;
  font-size: 6vw;
  border: 4px solid white;
  border-radius: 127px;
  padding: 2.5%;
  width: 6.5%;
  text-align: center;
}
div.mymoney-name-full {
  position: absolute;
  top: 72.5%;
  right: 42%;
  color: #414d5d;
  text-shadow: none;
  font-size: 14px;
  font-size: 4vw;
  text-align: center;
  width: 11%;
}
div#ajaxLoader {
  position: fixed;
  left: 46%;
  z-index: 5;
  top: 10%;
}
